//- layout.pug
doctype html
html
  head
    title food dilevery
    block scripts
    block style
     
  body
    nav#navbar
        ul 
            li #[a(href='/') Home]
            li #[a(href='/') About] 
            li #[a(href='/') Services]
            li #[a(href='/contact') Contact info]
    block content
    footer#footer 
        | copyright 0 2019 foodDilevery.com | All rights reserved
    